.svg {
  /* position: absolute; */
  border: 0.25px solid black;
  border-radius: 5px;
  z-index: 1;
}

.draggable {
  cursor: move;
}

.img {
  image-rendering: auto
}

.li {
  list-style-type: none;
  margin-right: 5em;
}