.svg {
  border: 0.25px solid black;
  border-radius: 5px;
  z-index: 1;
}

.draggable {
  cursor: move;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
  border-radius: 5px;
}